form{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#colonne_gauche {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}
  
#colonne_droite {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
  
input[type="submit"] {
    display: flex;
    margin-top: 20px;
    margin-left: 190px;
    justify-content: flex-end;
    align-items:flex-end ;

}